@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #2d2254;
	--text-color: #f5c42f;
}

body, html {
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
    color: #ddd;
    font-size: 18px;
    line-height: 1.6;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    line-height: 1.2
}

.pimg-top, .pimg-reports {
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg-top {
    background-image: url("images/section_top.jpg");
    height: 100%;
}

.pimg-reports {
    background-image: url("images/graph_report.jpg");
    height: 25%;
}

.pimg-top h1 {
    font-size: 55px;
    line-height: 1.3;
}

.pimg-top p {
    font-size: 24px;
    line-height: 1.1;
    font-weight: bold;
}

.ptext {
    position:absolute ;
    top:50%;
    width:100%;
    text-align:center;
}

.ptext .border {
    background-color: #111;
    width:50%;
    margin: auto;
    padding: 20px;
}

.pimg-reports .ptext {
    top: 25%;
}

.section {
    text-align: center;
    padding: 30px 20px;
}

.section .content {
    margin: auto;
    padding: 0px 30px;
}

.section-dark{
    background-color:#282e34;
    color:#ddd;
}

.section-reports img{
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.footer {
    border-top: var(--text-color) 1px solid;
    padding: 30px;
    margin-top: 20px;
}

.footer .note {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

